.aboutTitle1 {
    font-family: Yellowtail;
    font-size: 40px;
    padding: 125px 0 0 0;
    color: #736357;
}

.aboutTitle2 {
    font-family: Yellowtail;
    font-size: 40px;
    color: #736357;
}