.staffTitle {
    font-family: Yellowtail;
    font-size: 40px;
    color: #736357;
    margin-top: 20px;
}

@font-face {
        font-family: Yellowtail;
        src: url(https://use.typekit.net/sdg4osk.css);
    }


.pfpcontainer {
    background-image: url(/assets/pastorfamily.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 200px;
}