.footer {
    height: 40px;
    background-color: #202020;
    margin: 0px;
    display: grid;
    align-content: center;
    justify-content: center;
    position: static;
    bottom: 0px;
    left: 0px;
}

h5 {
    color: grey;
    font-family: helvetica;
    font-size: 15px;
    font-weight: 100;
}