@font-face {
        font-family: Yellowtail;
        src: url(https://use.typekit.net/sdg4osk.css);
    }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e9e0e0;
}
 
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  outline: none;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #fdfdfd;
  outline: none;
}
 
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
 
/* General sidebar styles */
.bm-menu {
  background: #202020;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  outline: none;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
  outline: none;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.m-i {
    font-family: helvetica;
    font-size: 35px;
    color: white;
    outline: none;
    text-align: center;
}

.m-i:hover {
  text-decoration: none;
  color: grey;
}

.menu-title {
    font-size: 60px;
    padding-bottom: 15px;
    padding-top: 50px;
    font-family: Yellowtail;
    color: #736357;
    outline: none;
} 